<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speak UP</title>
    <style>
        body, html {
            height: 100%;
        }
        .cont{
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            background-color: #600C0C;
        }
        .output{
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }
        .tx{
            color: #F6E4D6;
        }
    </style>
</head>
<body>
    <div class="cont">
        <div class="output">
            <h1 class="tx">TEXT TO SPEECH RUNNING</h1>
            <h3 class="tx">Thank you for using us!!</h3>
        </div>
    </div>
    
</body>
</html>